body, html {
  height: 100%;
  margin: 0;
  -ms-overflow-Style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}


.ProfileIMG {
  background-image: url(../img/Profile_IMG.jpg);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  position: relative;
  margin-left:-9%;

  top:60%;
  left: 50%
}

.Courier_New {
  color: #597a76;
  font-family: "Courier New";
  font-size: 100px;
}



.wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  gap: 20px;
  padding: 1em;
  grid-auto-rows: minmax(200px, auto );
  background:white;

}
.wrapper > div{
  background-color: gray;
  border-radius: 10px;
}
