
:root{
  --background-color: #ce8b9c;
  --footer--icon-hover-color: grey;
}

body{
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  -ms-overflow-Style: none;
  scrollbar-width: none;
  overflow-y: scroll;

  
}
body::-webkit-scrollbar {
  display: none;
}

.main{
  display: flex;
  flex:1;
}
.main img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}


.footer{
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
  font-size: .8rem;
}

.footer a{
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px black;
}

.footer a:hover{
  color: rgb(169, 169, 169)
}


/* 
justicon-icon pack, credits goes to all authors
*/
.img{
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.img:hover{
  background-color: var(--footer--icon-hover-color);
  transform: translateY(-5px);
}